*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
# Ignore generated APKs (except for releases tagged)
app/build/outputs/apk/
!app/release/*.apk
